.not-found-text{
    margin-bottom: 15px;
    margin-top: -20px;
}

.auth .brand-logo img{
	width: auto;
	height: 115px;
}

.auth .brand-logo{
	margin-bottom: 0;
	text-align:center;
}

.navbar .navbar-brand-wrapper .navbar-brand img{
	height:100px;
}

.badge{
	background-color: transparent;
}

.table-bordered > :not(caption) > * > * {
    border-width: 1px 1px;
}

.table tr:last-child td{
	border-bottom: 1px solid #dee2e6; 
}

.inline-errormsg{
  color:#dc3545;
  font-size: 14px;
  padding-top:2px;
}

textarea.form-control, select.form-control{
	height: auto;
}

.fa {
	font-size: 20px;    
	padding: 5px;
	cursor: pointer;
}

.fa-edit{
	color: #0088cc;	
}

.fa-trash{
	color: #d2322d;	
}

.page-link{
	color:#172d88;	
}

.page-item.active .page-link, .pagination .page-item .page-link:focus{
	background-color: #172d88;
	box-shadow: none;
	color:#fff;
}

.form-control{
	height: calc(2.25rem + 4px);
}

.download-csv{
	font-size: 24px;
	margin-top: 5px;
}

.cursor-auto{
	cursor: auto !important;
}